* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('../public/bg-board.webp'); /* 背景画像のパスを指定 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative; /* 疑似要素のために必要 */
  z-index: 0; /* コンテンツの表示を制御するため */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒オーバーレイ */
  z-index: -1; /* 背景画像の上に表示されるが、他のコンテンツの下に */
}
